{% import_yaml "rvm/defaults.yaml" as defaults %}
{% import_yaml "rvm/osmap.yaml" as osmap %}

{% set os = salt['grains.filter_by'](
  osmap,
  merge=salt['pillar.get']('rvm.lookup', {}),
)
%}

{% do defaults.rvm.update(os) %}

{% set rvm = salt['pillar.get'](
  'rvm',
  default=defaults.rvm,
  merge=True,
)
%}
